@using Presentation.Models;
@inherits LayoutComponentBase

<div class="page">

	@if (Setting.UserBasicDetail != null)
	{
		@if (Setting.UserBasicDetail.RoleId == 1)
		{
			<div class="sidebar">
				<NavMenuAdmin />
			</div>
		}
		@if (Setting.UserBasicDetail.RoleId == 2)
		{
			<div class="sidebar">
				<NavMenuShelterOwner />
			</div>
		}
		@if (Setting.UserBasicDetail.RoleId == 3)
		{
			<div class="sidebar">
				<NavMenuGeneral />
			</div>
		}
		
	}
	else
	{
		<div class="sidebar">
			<NavMenuAdmin />
		</div>
	}

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
