@page "/"
@using Newtonsoft.Json;
@using Presentation.Models;
@inject NavigationManager NavManager;

<h3>Yükleniyor...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        string userDetails = await SecureStorage.GetAsync(nameof(Setting.UserBasicDetail));
        if (!string.IsNullOrWhiteSpace(userDetails))
        {
            var userBasicDetail = JsonConvert.DeserializeObject<UserBasicDetail>(userDetails);
            NavManager.NavigateTo("/animalOwnerDashboard");
            Setting.UserBasicDetail = userBasicDetail;
        }
        else
        {
            NavManager.NavigateTo("/login");
        }
    }
}
